body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

ul.list-group li a {
    text-decoration: none;
    color: #343a40;
}

ul.list-group li a:hover {
    color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
